{% extends "task/base.html" %}
{% block content %}
    {% for task in task_list %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ task.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">


              <a class="mr-2" href="#">{{ task.author }}</a>
              <small class="text-muted">{{ task.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></h2>
            <p class="article-content">{{ task.status }}</p>
              <a href="{% url 'task_detail' pk=task.pk  %}">Comments: {{ task.approve_comments.count }}</a>
              <p>Completion date : {{ task.completion_date | date:"F d, Y" }}</p>
          </div>
        </article>

    {% endfor %}
{% endblock content %}