{% extends "task/base.html" %}
{% block content %}

        <h1 class='posttitle loader'>{{ task.title }}</h1>

        {% if task.date_posted %}
            <div class="date postdate">
                {{ task.date_posted }}
            </div>

        {% else %}
            <a class="btn btn-default" href="{% url 'task_detail' pk=task.pk %}">Submit</a>
        {% endif %}

      <!--<p class='postcontent' >{{ post.text|safe|linebreaksbr }}</p>-->


      {% if user.is_authenticated %}
          <a class="btn btn-primary" href="{% url 'task-update' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-primary" href="{% url 'task-delete' pk=task.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
      {% endif %}



  <hr>
  <a class="btn btn-primary btn-comment" href="{% url 'comment' pk=task.pk %}">Add comment</a>
  <div class="container">


  {% for comment in task.comments.all %}
  <br>
      {% if user.is_authenticated or comment.approved_comment %}

              {{ comment.created_date }}
              {% if not comment.approved_comment %}
                  <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                  <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
              {% endif %}

          <p>{{ comment.text|safe|linebreaks }}</p>
          <p>Posted by: <strong>{{ comment.author }}</strong></p>

      {% endif %}
  {% empty %}
      <p>No comments posted.</p>
  {% endfor %}
</div>

{% endblock %}